<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Praktika_2022</title>
</head>
<body>
    <div class="h1">
        <form action="/" name="f1" method="post">
            <p>Enter orcid_id: </p>
            <input type="text" name="id">
            <input type="submit" value="send">
        </form>
        <p>Function test</p>
        <p>table_list(5)</p>
        <p>table_list(5)</p>
        <p><var>param</var>=5</p>
        <button value="buttons" onclick="table_list(param)">кнопка</button>

    </div>
    <div class="h2">
        {% for key in data %}
            <p>HELLO</p>
        {% endfor %}
    </div>
</body>
<script src="file.js"></script>
</html>