<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Person</title>
</head>
<body>
    <div class="h2">
        <table>
        <col width="120">
        <col width="120">
        <col width="170">
            {% for row in table %}
            <tr>{% for field in row %}
                <td>{{ field }}</td>
                {% endfor %}</tr>
            {% endfor %}
        </table>
    </div>
    <div class="butt">
        <button title="next" onclick=""></button>
        <button title="prev" action=""></button>
    </div>
</body>
</html>
['name']['given-names']['value']
['keywords']['keyword']