<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>
        <button type="button" class="butt" id="ie" onclick="runn(3);" value="7" >кнопка2</button>
        <button type="button" class="butto" id="pag2" onclick="window.location.href = " value="" >page2</button>
        <button id="next" onclick="window.location.href = window.location.href+'/next'">next page</button>
    </p>

    <!--<button id="page1" onclick="window.location.href = 'http://127.0.0.1:5000/page1'">page1</button>
    <button id="page2" onclick="window.location.href = 'http://127.0.0.1:5000/page2'">page2</button>
    <button id="page3" onclick="window.location.href = 'http://127.0.0.1:5000/page3'">page3</button>
    <button id="page4" onclick="window.location.href = 'http://127.0.0.1:5000/page4'">page4</button>
    <button id="page5" onclick="window.location.href = 'http://127.0.0.1:5000/page5'">page5</button>
    <button id="page6" onclick="window.location.href = 'http://127.0.0.1:5000/page6'">page6</button>
    <button id="page7" onclick="window.location.href = 'http://127.0.0.1:5000/page7'">page7</button>
    <button id="page8" onclick="window.location.href = 'http://127.0.0.1:5000/page8'">page8</button>
    <button id="page9" onclick="window.location.href = 'http://127.0.0.1:5000/page9'">page9</button>
    <button id="page10" onclick="window.location.href = 'http://127.0.0.1:5000/page10'">page10</button>
    <button id="page11" onclick="window.location.href = 'http://127.0.0.1:5000/page11'">page11</button>
    <button id="page12" onclick="window.location.href = 'http://127.0.0.1:5000/page12'">page12</button>
    <button id="page13" onclick="window.location.href = 'http://127.0.0.1:5000/page13'">page13</button>
    <button id="page14" onclick="window.location.href = 'http://127.0.0.1:5000/page14'">page14</button>
    <button id="page15" onclick="window.location.href = 'http://127.0.0.1:5000/page15'">page15</button>
    <button id="page16" onclick="window.location.href = 'http://127.0.0.1:5000/page16'">page16</button>
    <button id="page17" onclick="window.location.href = 'http://127.0.0.1:5000/page17'">page17</button>
    <button id="page18" onclick="window.location.href = 'http://127.0.0.1:5000/page18'">page18</button>
    <button id="page19" onclick="window.location.href = 'http://127.0.0.1:5000/page19'">page19</button>
    <button id="page20" onclick="window.location.href = 'http://127.0.0.1:5000/page20'">page20</button>
    <button id="page21" onclick="window.location.href = 'http://127.0.0.1:5000/page21'">page21</button>
    <button id="page22" onclick="window.location.href = 'http://127.0.0.1:5000/page22'">page22</button>
    <button id="page23" onclick="window.location.href = 'http://127.0.0.1:5000/page23'">page23</button>
    <button id="page24" onclick="window.location.href = 'http://127.0.0.1:5000/page24'">page24</button>
    <button id="page25" onclick="window.location.href = 'http://127.0.0.1:5000/page25'">page25</button>
    <button id="page26" onclick="window.location.href = 'http://127.0.0.1:5000/page26'">page26</button>
    <button id="page27" onclick="window.location.href = 'http://127.0.0.1:5000/page27'">page27</button>
    <button id="page28" onclick="window.location.href = 'http://127.0.0.1:5000/page28'">page28</button>
    <button id="page29" onclick="window.location.href = 'http://127.0.0.1:5000/page29'">page29</button>
    <button id="page30" onclick="window.location.href = 'http://127.0.0.1:5000/page30'">page30</button>
    -->


    <div class="5try" id="6try">
        {% for row in table %}
        <table>
            <col width="120">
            <col width="120">
            <col width="170">
            {% for field in row %}
            <tr>{% for a in field %}
                <td>{{ a }}</td>
                {% endfor %}</tr>
            {% endfor %}
        </table>
        {% endfor %}
    </div>
    <script>
        function runn(par){
            document.getElementById("6try").innerHTML = window.location.href = "http://127.0.0.1:5000/page2";
            //var el = document.querySelector(".5try")

            alert("Change the page?");

        }
    </script>
    <p></p>
</body>
</html>