<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Praktika_2022</title>
</head>
<body>
    <div>
        <button onclick="window.location.href = window.location.origin">home page</button>
    </div>
    <div>
        <table>
            <tr>{% for a in table %}
                <td>{{ a }}</td>
                {% endfor %}</tr>
        </table>
    </div>
    <style>
        <th>
            doi
        </th>
        <th>
            wos
        </th>
        <th>
            eid
        </th>
        <th>
            summary_str
        </th>
        <th>
            orcid_id
        </th>
        <th>
            name
        </th>
        <th>
            surname
        </th>
        <th>
            other_names
        </th>
        <th>
            country
        </th>
        <th>
            external_ids
        </th>
        <th>
            kwords_str
        </th>
    </style>
</body>
</html>